node_modules
*~
*#
.DS_STORE
.DS_Store
.netbeans
nbproject
.idea
.node_history
dump.rdb
.next
.vscode
__snapshots__
/build/

# File for personal notes
NOTES.md


npm-debug.log
lib-cov
*.seed
*.log
*.out
*.pid
*.snap

.werf_secret_key
